
.btn-secondary {
  color: $color-white !important;

  :hover, :active {
    color: $color-white !important;
  }
}

.btn-outline-secondary {
  //color: $color-white !important;

  :hover, :active {
    color: $color-white !important;
  }
}
